#score{
    font-size: 40px;
}
body {
    height: 500px;
    width: 500px;
     background-image: linear-gradient(to left, rgba(255, 0, 0, 0.7),rgba(0, 0, 255, 0.6),rgba(75, 0, 130, 0.9));
     padding-top: 200px;
     padding-left: 500px;
     padding-right: 500px;
     padding-bottom: 500px;
     align-items: center;

}

#roll{
    background-image: url("../img/dice1.png") ;
    background-repeat:no-repeat;
    height: 30px;
    width: 60px;
}
#dice{
    height: 200px;
    width: 200px;
}
